@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 300;
}

#popup__item {
  z-index: 101;
}

.popup-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  /* Скрол popup */
  overflow-y: auto;
  overflow-x: hidden;
  /* Animation */
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 100;
}

.popup-menu__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-menu:target {
  opacity: 1;
  visibility: visible;
}

.popup-menu__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-menu__content {
  padding: 30px;
  background: #562000;
  border-radius: 43.8464px;
  color: #000;
  max-width: 1100px;
  position: relative;
}

.close__popup {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.page__block-consultation {
  margin: 120px 0px 0px 0px;
}

.consultation-background {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 43.8464px;
}

.consultation-btn__margin {
  margin: 0 auto;
}

.consultation-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.consultation__discription {
  max-width: 570px;
}

.discription__title {
  margin: 0px 0px 30px 0px;
}

.discription__title h3 {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: 0.1em;
  color: #000000;
}

.discription__subtitle p {
  max-width: 420px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.consultation__user-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 550px;
  margin: 40px 20px 0px 0px;
}

.user-information__item {
  font-size: 21px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 550px;
  font-family: 'Montserrat';
  font-weight: 300;
  padding: 7px 10px 7px 20px;
}

.user-information__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.user-information__item::-webkit-input-placeholder {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.4);
}

.user-information__item:-ms-input-placeholder {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.4);
}

.user-information__item::-ms-input-placeholder {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.4);
}

.user-information__item::placeholder {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.4);
}

.consultation__block-btn {
  max-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#EB9562), color-stop(148.54%, #E0CFA7));
  background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
}

.consultation__btn {
  font-family: 'Montserrat';
  min-height: 57px;
  font-weight: 600;
  font-size: 14.4702px;
  line-height: 18px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(-50%, #EB9562), color-stop(240.54%, #E0CFA7));
  background: linear-gradient(90deg, #EB9562 -50%, #E0CFA7 240.54%);
  color: #FFFFFF;
}
