@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 300;
}

.popup-consultation {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden; /* скрол всего сайта */
  /* Скрол popup */
  overflow-y: auto; /* скрол по всему сайту */
  overflow-x: hidden;
  /* Animation */
  transition: all 0.8s ease 0s;
  z-index: 60;
}

.popup-consultation__area,
.area__popups {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-consultation:target {
  opacity: 1;
  visibility: visible;
}

.popup-link:target {
  opacity: 1;
  visibility: visible;
}

.popup-consultation__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup-consultation__content {
  padding: 20px;
  height: 494px;
  background: #562000;
  border-radius: 43.8464px;
  color: #000;
  max-width: 1131px;
  position: relative;
}

.page__block-consultation {
  margin: 120px 0px 0px 0px;
}

.consultation-background {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 43.8464px;
}

.consultation-body-popup {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.consultation__discription-popup {
  max-width: 570px;
}

.discription-popup__title {
  margin: 40px 27px 30px 20px;
}

.discription-popup__title h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

.discription-popup__subtitle p {
  max-width: 420px;
  margin-left: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

.consultation-popup__user-information {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 90px 10px 0px 0px;
}

.user-information-popup__item {
  font-size: 21px;
  border: 0.99651px solid #000000;
  width: 510px;
  font-family: "Montserrat";
  font-weight: 300;
  padding: 7px 10px 7px 20px;
}

.user-information-popup__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.user-information-popup__item::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.user-information-popup__item:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.user-information-popup__item::placeholder {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.consultation-popup__block-btn {
  max-width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  position: relative;
  top: -60px;
  left: 37%;
  margin: 99px 0px 0px 0px;
}

.consultation-popup__btn {
  font-family: "Montserrat";
  min-height: 57px;
  font-weight: 600;
  font-size: 14.4702px;
  line-height: 18px;
  text-align: center;
  background: linear-gradient(90deg, #EB9562 -50%, #E0CFA7 240.54%);
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .consultation-body-popup {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 1026px) {
  .popup-consultation__content {
    max-width: 957px;
    height: 580px;
  }
}
@media (max-width: 769px) {
  .popup__close-x {
    display: block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 3;
    top: -30px;
    left: 91%;
  }
  .popup__close {
    display: block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 3;
    top: -30px;
    left: 91%;
  }
  .popup__close::before,
.popup__close::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .popup__close::before {
    top: 2px;
    transform: rotate(45deg);
  }
  .popup__close::after {
    bottom: 15px;
    transform: rotate(-45deg);
  }
  .popup-consultation__content {
    max-width: 690px;
    height: 740px;
    border-radius: 10.7504px;
    margin-top: 100px;
    padding: 7px 20px 20px 20px;
  }
  .consultation-body-popup {
    flex-direction: column;
  }
  .discription-popup__subtitle p {
    margin-left: 71px;
  }
  .consultation-popup__user-information {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 45px 10px 0px 30px;
  }
  .consultation-popup__block-btn {
    left: 28%;
  }
  .consultation-background {
    border-radius: 10.7504px;
  }
}
@media (max-width: 426px) {
  .popup__close {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    top: -30px;
    left: 91%;
  }
  .popup__close::before,
.popup__close::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .popup__close::before {
    top: 2px;
    transform: rotate(45deg);
  }
  .popup__close::after {
    bottom: 15px;
    transform: rotate(-45deg);
  }
  .popup-consultation__content {
    max-width: 300px;
    height: 578px;
    border-radius: 10.7504px;
    margin-top: 100px;
    padding: 7px 20px 20px 20px;
  }
  .consultation-body-popup {
    flex-direction: column;
  }
  .discription-popup__title h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }
  .discription-popup__subtitle p {
    margin-left: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  .consultation-popup__user-information {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 20px 0px 0px -10px;
  }
  .user-information-popup__item {
    font-size: 21px;
    border: 0.469091px solid rgba(0, 0, 0, 0.25);
    width: 250px;
    font-family: "Montserrat";
    font-weight: 300;
    padding: 0px 10px 7px 18px;
  }
  .user-information-popup__item::-moz-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information-popup__item:-ms-input-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information-popup__item::placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  .consultation-popup__block-btn {
    left: 0%;
  }
  .consultation-background {
    border-radius: 10.7504px;
  }
}
._container {
  max-width: 1147px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 128px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 108px;
  }
}
.header__menu {
  margin: 0px 0px 0px 198px;
}

@media (max-width: 1025px) {
  .header__menu {
    margin: 0px 0px 0px 158px;
  }
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 128px;
  }
}
@media (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 35px;
  }
}
.header__logo {
  padding: 10px;
}

.menu {
  padding: 5px 0px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  transition: all 0.5s ease 0s;
  transform: scale(1, 1);
  border-bottom: 3px solid transparent;
}

.menu__item:hover {
  transition: all 0.5s ease 0s;
  transform: scale(1.3, 1.3);
  border-bottom: 3px solid #fff;
}

.menu__item:not(:last-child) {
  margin: 0px 43px 0px 0px;
}

.menu__link {
  font-size: 29px;
  font-family: "Roboto";
  line-height: 34px;
  color: #fff;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    /* Скрол popup */
    overflow-y: auto;
    overflow-x: hidden;
    /* Animation */
    transition: all 0.8s ease 0s;
  }
  .header__popup .header-popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }
  .header__popup .header-popup__background {
    position: relative;
    top: 0;
    left: 35%;
    height: 700px;
    background: #562000;
    border-radius: 65.8464px;
    padding: 55px 20px 0px 15px;
  }
  .header__popup .header-popup__content {
    padding: 18px 70px 0px 35px;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 65.8464px;
    height: 600px;
  }
  .header__popup .menu__list {
    display: block;
  }
  .header__popup .popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .header__popup.active {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__menu {
    margin: 0;
  }
  .header__menu .menu__list {
    text-align: center;
  }
  .header__menu .menu__item {
    border: 0.454106px solid #8D3500;
    border-radius: 8.17391px;
  }
  .header__menu .menu__item:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
  .header__menu .menu__item:hover {
    transition: all 0.5s ease 0s;
    background: linear-gradient(90deg, #EB9562 0%, rgba(255, 255, 255, 0.9) 170%);
    transform: scale(1.1, 1.1);
  }
  .header__menu .menu__link {
    padding: 0 15px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 40px;
    color: #000000;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: -3px;
  }
  .header__burger::after {
    bottom: -4px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
@media (max-width: 472px) {
  .header {
    background: rgba(0, 0, 0, 0.5);
  }
  .header__logo {
    padding: 0;
  }
  .header__logo img {
    max-width: 78px;
  }
  .header__burger {
    width: 30px;
  }
  .header-popup__content {
    padding: 18px 80px 0px 20px;
  }
  .header__menu {
    margin: 0;
  }
  .header__menu .menu__list {
    text-align: center;
  }
  .header__menu .menu__item {
    border: 0.454106px solid #8D3500;
    border-radius: 8.17391px;
  }
  .header__menu .menu__item:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
  .header__menu .menu__item:hover {
    transition: all 0.5s ease 0s;
    background: linear-gradient(90deg, #EB9562 0%, rgba(255, 255, 255, 0.9) 170%);
    transform: scale(1.1, 1.1);
  }
  .header__menu .menu__link {
    padding: 0 15px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 300;
}

.popup-consultation {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden; /* скрол всего сайта */
  /* Скрол popup */
  overflow-y: auto; /* скрол по всему сайту */
  overflow-x: hidden;
  /* Animation */
  transition: all 0.8s ease 0s;
  z-index: 60;
}

.popup-consultation__area,
.area__popups {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-consultation:target {
  opacity: 1;
  visibility: visible;
}

.popup-link:target {
  opacity: 1;
  visibility: visible;
}

.popup-consultation__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup-consultation__content {
  padding: 20px;
  height: 494px;
  background: #562000;
  border-radius: 43.8464px;
  color: #000;
  max-width: 1131px;
  position: relative;
}

.page__block-consultation {
  margin: 120px 0px 0px 0px;
}

.consultation-background {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 43.8464px;
}

.consultation-body-popup {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.consultation__discription-popup {
  max-width: 570px;
}

.discription-popup__title {
  margin: 40px 27px 30px 20px;
}

.discription-popup__title h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

.discription-popup__subtitle p {
  max-width: 420px;
  margin-left: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

.consultation-popup__user-information {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 90px 10px 0px 0px;
}

.user-information-popup__item {
  font-size: 21px;
  border: 0.99651px solid #000000;
  width: 510px;
  font-family: "Montserrat";
  font-weight: 300;
  padding: 7px 10px 7px 20px;
}

.user-information-popup__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.user-information-popup__item::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.user-information-popup__item:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.user-information-popup__item::placeholder {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.consultation-popup__block-btn {
  max-width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  position: relative;
  top: -60px;
  left: 37%;
  margin: 99px 0px 0px 0px;
}

.consultation-popup__btn {
  font-family: "Montserrat";
  min-height: 57px;
  font-weight: 600;
  font-size: 14.4702px;
  line-height: 18px;
  text-align: center;
  background: linear-gradient(90deg, #EB9562 -50%, #E0CFA7 240.54%);
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .consultation-body-popup {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 1026px) {
  .popup-consultation__content {
    max-width: 957px;
    height: 580px;
  }
}
@media (max-width: 769px) {
  .popup__close-x {
    display: block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 3;
    top: -30px;
    left: 91%;
  }
  .popup__close {
    display: block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 3;
    top: -30px;
    left: 91%;
  }
  .popup__close::before,
.popup__close::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .popup__close::before {
    top: 2px;
    transform: rotate(45deg);
  }
  .popup__close::after {
    bottom: 15px;
    transform: rotate(-45deg);
  }
  .popup-consultation__content {
    max-width: 690px;
    height: 740px;
    border-radius: 10.7504px;
    margin-top: 100px;
    padding: 7px 20px 20px 20px;
  }
  .consultation-body-popup {
    flex-direction: column;
  }
  .discription-popup__subtitle p {
    margin-left: 71px;
  }
  .consultation-popup__user-information {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 45px 10px 0px 30px;
  }
  .consultation-popup__block-btn {
    left: 28%;
  }
  .consultation-background {
    border-radius: 10.7504px;
  }
}
@media (max-width: 426px) {
  .popup__close {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    top: -30px;
    left: 91%;
  }
  .popup__close::before,
.popup__close::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .popup__close::before {
    top: 2px;
    transform: rotate(45deg);
  }
  .popup__close::after {
    bottom: 15px;
    transform: rotate(-45deg);
  }
  .popup-consultation__content {
    max-width: 300px;
    height: 578px;
    border-radius: 10.7504px;
    margin-top: 100px;
    padding: 7px 20px 20px 20px;
  }
  .consultation-body-popup {
    flex-direction: column;
  }
  .discription-popup__title h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }
  .discription-popup__subtitle p {
    margin-left: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  .consultation-popup__user-information {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 20px 0px 0px -10px;
  }
  .user-information-popup__item {
    font-size: 21px;
    border: 0.469091px solid rgba(0, 0, 0, 0.25);
    width: 250px;
    font-family: "Montserrat";
    font-weight: 300;
    padding: 0px 10px 7px 18px;
  }
  .user-information-popup__item::-moz-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information-popup__item:-ms-input-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information-popup__item::placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  .consultation-popup__block-btn {
    left: 0%;
  }
  .consultation-background {
    border-radius: 10.7504px;
  }
}
.wrapper {
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  background-color: antiquewhite;
}

._container {
  max-width: 1147px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.55);
}

.header__container {
  display: flex;
  min-height: 128px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 108px;
  }
}
.header__menu {
  margin: 0px 0px 0px 198px;
}

@media (max-width: 1025px) {
  .header__menu {
    margin: 0px 0px 0px 158px;
  }
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 128px;
  }
}
@media (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 35px;
  }
}
.header__logo {
  padding: 10px;
}

.menu {
  padding: 5px 0px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  transition: all 0.5s ease 0s;
  transform: scale(1, 1);
  border-bottom: 3px solid transparent;
}
.menu__item:hover {
  transition: all 0.5s ease 0s;
  transform: scale(1.3, 1.3);
  border-bottom: 3px solid #fff;
}

.menu__item:not(:last-child) {
  margin: 0px 43px 0px 0px;
}

.menu__link {
  font-size: 29px;
  font-family: "Roboto";
  line-height: 34px;
  color: #fff;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    /* Скрол popup */
    overflow-y: auto;
    overflow-x: hidden;
    /* Animation */
    transition: all 0.8s ease 0s;
  }
  .header__popup .header-popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }
  .header__popup .header-popup__background {
    position: relative;
    top: 0;
    left: 35%;
    height: 700px;
    background: #562000;
    border-radius: 65.8464px;
    padding: 55px 20px 0px 15px;
  }
  .header__popup .header-popup__content {
    padding: 18px 70px 0px 35px;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 65.8464px;
    height: 600px;
  }
  .header__popup .menu__list {
    display: block;
  }
  .header__popup .popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .header__popup.active {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__menu {
    margin: 0;
  }
  .header__menu .menu__list {
    text-align: center;
  }
  .header__menu .menu__item {
    border: 0.454106px solid #8D3500;
    border-radius: 8.17391px;
  }
  .header__menu .menu__item:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
  .header__menu .menu__item:hover {
    transition: all 0.5s ease 0s;
    background: linear-gradient(90deg, #EB9562 0%, rgba(255, 255, 255, 0.9) 170%);
    transform: scale(1.1, 1.1);
  }
  .header__menu .menu__link {
    padding: 0 15px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 40px;
    color: #000000;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: -3px;
  }
  .header__burger::after {
    bottom: -4px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
@media (max-width: 472px) {
  .header {
    background: rgba(0, 0, 0, 0);
  }
  .header__logo {
    padding: 0;
  }
  .header__logo img {
    max-width: 78px;
  }
  .header__burger {
    width: 30px;
  }
  .header-popup__content {
    padding: 18px 80px 0px 20px;
  }
  .header__menu {
    margin: 0;
  }
  .header__menu .menu__list {
    text-align: center;
  }
  .header__menu .menu__item {
    border: 0.454106px solid #8D3500;
    border-radius: 8.17391px;
  }
  .header__menu .menu__item:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
  .header__menu .menu__item:hover {
    transition: all 0.5s ease 0s;
    background: linear-gradient(90deg, #EB9562 0%, rgba(255, 255, 255, 0.9) 170%);
    transform: scale(1.1, 1.1);
  }
  .header__menu .menu__link {
    padding: 0 15px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
.page {
  flex: 1 1 auto;
}

.main-block {
  position: relative;
  background: rgb(0, 0, 0);
}

.main-block__body {
  padding: 194px 0px 145px 0px;
  position: relative;
  z-index: 5;
  max-width: 593px;
}

.main-block__body > *:not(:last-child) {
  margin: 0px 0px 32px 0px;
}

.main-block__title {
  font-family: "Oswald";
  font-size: 109px;
  line-height: 116.5137614679%;
  letter-spacing: 0.1em;
  color: #fff;
}

@media (max-width: 670px) {
  .main-block__title {
    font-size: 70px;
    text-align: center;
  }
}
@media (max-width: 472px) {
  .main-block__body {
    padding: 100px 0px 15px 0px;
  }
  .main-block__title {
    margin-top: 40px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.1em;
  }
}
.main-block__text {
  float: right;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}

.main-block__buttons {
  margin-top: 62px;
  display: inline-flex;
}

.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 90px;
  min-height: 100px;
  background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
  box-shadow: 1px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 31px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.main-block__button:active {
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 3px;
}
.main-block__button:hover {
  background: linear-gradient(90deg, #f0a980 0%, #f0dfb7 148.54%);
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.5;
}

@media (max-width: 472px) {
  .main-block__text {
    display: none;
  }
  .main-block__buttons {
    margin: 10px 0px 0px 28%;
  }
  .main-block__button {
    min-height: 45px;
    font-weight: 700;
    font-size: 9.25532px;
    line-height: 11px;
    text-align: center;
    padding: 5px 40px;
  }
}
@media (max-width: 321px) {
  .main-block__buttons {
    margin: 10px 0px 0px 24%;
  }
}
.block-apartment {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.block-apartment__block img {
  width: 100%;
  height: 257px;
}

.block-apartment__block {
  position: relative;
}
.block-apartment__block:nth-child(1) {
  border: 5px solid antiquewhite;
}
.block-apartment__block:nth-child(2) {
  border-right: 5px solid antiquewhite;
  border-top: 5px solid antiquewhite;
  border-bottom: 5px solid antiquewhite;
}
.block-apartment__block:nth-child(3) {
  border-left: 5px solid antiquewhite;
  border-bottom: 5px solid antiquewhite;
  border-right: 5px solid antiquewhite;
}
.block-apartment__block:nth-child(4) {
  border-right: 5px solid antiquewhite;
  border-bottom: 5px solid antiquewhite;
}

.block-apartment__item {
  position: absolute;
  background: rgba(255, 255, 255, 0.42);
  padding: 0px 0px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 75%;
}
.block-apartment__link {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
.block-apartment__link::after {
  content: ">";
  color: #fff;
  margin: 0px 8px 0px 10px;
}
.block-apartment__link:hover {
  color: #000;
}

.left__text {
  left: 25%;
}

@media (max-width: 769px) {
  .block-apartment {
    display: block;
  }
  .left__text {
    left: 0;
  }
  .block-apartment__block {
    position: relative;
  }
  .block-apartment__block:nth-child(1) {
    border: 5px solid antiquewhite;
  }
  .block-apartment__block:nth-child(2) {
    border-left: 5px solid antiquewhite;
    border-right: 5px solid antiquewhite;
    border-top: none;
    border-bottom: none;
  }
  .block-apartment__block:nth-child(3) {
    border-top: 5px solid antiquewhite;
    border-left: 5px solid antiquewhite;
    border-right: 5px solid antiquewhite;
    border-bottom: none;
  }
  .block-apartment__block:nth-child(4) {
    border: 5px solid antiquewhite;
  }
  .block-apartment__item {
    margin-left: 15px;
  }
}
@media (max-width: 472px) {
  .block-apartment__block img {
    width: 100%;
    height: 115px;
  }
  .block-apartment__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}
.why-us__container {
  display: flex;
  flex-direction: column;
}

.why-us__title h3 {
  margin: 88px 0px 55px 0px;
  text-align: center;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.1em;
  color: #8D3500;
}

.why-us__body {
  display: flex;
  justify-content: space-between;
}

.us__item {
  display: flex;
  border: 1px solid #8D3500;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.us__item-img img {
  max-width: 100%;
}

.us__content {
  text-align: left;
  margin-left: 30px;
}

.us__number {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.1em;
  color: #000000;
}

.us__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.why-us__informaition {
  font-family: "Montserrat";
  margin: 55px 0px 0px 0px;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

@media (max-width: 769px) {
  .us__item-img img {
    width: 85px;
  }
  .us__content .us__number {
    font-size: 28px;
    line-height: 38px;
  }
  .us__content .us__text {
    font-size: 15px;
    line-height: 13px;
  }
}
@media (max-width: 472px) {
  .why-us__body {
    justify-content: center;
    flex-wrap: wrap;
  }
  .why-us__title h3 {
    margin: 30px 0px 35px 0px;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
  }
  .us__item-img img {
    width: 48px;
  }
  .us__item {
    margin: 8px;
  }
  .us__content .us__number {
    font-size: 24px;
    line-height: 28px;
  }
  .us__content .us__text {
    font-size: 11px;
    line-height: 13px;
  }
  .why-us__informaition {
    margin: 25px 0px 0px 70px;
    max-width: 250px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
  }
}
@media (max-width: 376px) {
  .why-us__informaition {
    margin: 25px 0px 0px 49px;
  }
}
@media (max-width: 321px) {
  .why-us__informaition {
    margin: 25px 0px 0px 70px;
  }
}
.location__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location__title h2 {
  margin: 110px 0px 30px 0px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 60.5614px;
  line-height: 70px;
  letter-spacing: 0.1em;
  color: #8D3500;
}

.location__where-find-us {
  max-width: 1440px;
}

.location__address {
  margin: 33px 0px 0px 0px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 769px) {
  .location__where-find-us {
    max-width: 1440px;
  }
  .location__where-find-us img {
    height: 317px;
  }
}
@media (max-width: 472px) {
  .location__title h2 {
    margin: 30px 0px 10px 0px;
    font-size: 31px;
    line-height: 36px;
  }
  .location__where-find-us {
    max-width: 440px;
  }
  .location__where-find-us img {
    height: 176px;
  }
  .location__address {
    margin: 10px 0px 0px 0px;
    font-size: 10px;
    line-height: 12px;
    color: #8D3500;
  }
}
.page__block-consultation {
  margin: 120px 0px 0px 0px;
}

.consultation-body {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.consultation__discription {
  max-width: 570px;
}

.discription__title {
  margin: 0px 0px 30px 0px;
}

.discription__title h3 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: 0.1em;
  color: #000000;
}

.discription__subtitle p {
  max-width: 420px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.consultation__user-information {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 40px 20px 0px 0px;
}

.user-information__item {
  font-size: 21px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 550px;
  font-family: "Montserrat";
  font-weight: 300;
  padding: 7px 10px 7px 20px;
}

.user-information__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.user-information__item::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.4);
}

.user-information__item:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.4);
}

.user-information__item::placeholder {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.4);
}

.consultation__block-btn {
  max-width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  transition: all 0.5s ease 0s;
  transform: scale(1);
}
.consultation__block-btn:active {
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: scale(0.9);
  transition: all 0.5s ease 0s;
  top: 3px;
}

.consultation__btn {
  font-family: "Montserrat";
  min-height: 57px;
  font-weight: 600;
  font-size: 14.4702px;
  line-height: 18px;
  text-align: center;
  background: linear-gradient(90deg, #EB9562 -50%, #E0CFA7 240.54%);
  color: #FFFFFF;
}
.consultation__btn:hover {
  color: #000;
}

@media (max-width: 769px) {
  .page__block-consultation {
    margin: 35px 0px 0px 0px;
  }
  .consultation__discription {
    margin-right: 30px;
    margin-top: 47px;
  }
  .discription__title h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
  }
  .discription__subtitle p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .user-information__item {
    max-width: 370px;
  }
  .user-information__item::-moz-placeholder {
    font-size: 15px;
    line-height: 23px;
  }
  .user-information__item:-ms-input-placeholder {
    font-size: 15px;
    line-height: 23px;
  }
  .user-information__item::placeholder {
    font-size: 15px;
    line-height: 23px;
  }
}
@media (max-width: 651px) {
  .consultation-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 50px 0px;
  }
  .consultation__discription {
    margin: 0;
  }
  .consultation__user-information {
    margin: 40px 0px 0px 0px;
  }
  .discription__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 472px) {
  .page__block-consultation {
    margin: 15px 0px 0px 0px;
  }
  .consultation-body {
    display: block;
    text-align: center;
  }
  .discription__title h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  .discription__subtitle p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .consultation__user-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin: 30px 0px 0px 0px;
  }
  .user-information__item {
    width: 390px;
  }
  .user-information__item::-moz-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information__item:-ms-input-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information__item::placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.4);
  }
  .consultation__block-btn {
    max-width: 170px;
  }
}
@media (max-width: 376px) {
  .user-information__item {
    max-width: 330px;
  }
}
@media (max-width: 376px) {
  .user-information__item {
    font-size: 21px;
    border: 0.509091px solid rgba(0, 0, 0, 0.25);
    width: 280px;
    font-family: "Montserrat";
    font-weight: 300;
    padding: 7px 10px 7px 20px;
  }
  .user-information__item::-moz-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information__item:-ms-input-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information__item::placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.4);
  }
}
.footer {
  background: #562000;
  margin: 86px 0px 0px 0px;
  position: relatives;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 23px 15px 42px 15px;
}

.social-networks__logo img {
  max-width: 100%;
}

.social-networks__text {
  margin: 12px 0px 18px 0px;
}

.social-networks__text p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
}

.social-networks__link:not(:last-child) {
  padding: 0px 17px 0px 0px;
}

.footer__contacts {
  margin: 0px 78px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.contacts__tel {
  color: #FFFFFF;
}

.contacts__e-mail {
  color: #FFFFFF;
}

.contacts__text {
  max-width: 180px;
}

.footer__suppot {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.support__qr-code {
  padding: 0px 11px 0px 0px;
}

.support__text {
  max-width: 157px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 472px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    padding: 23px 15px 0px 15px;
  }
  .footer__social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__social-networks .social-networks__logo {
    margin-bottom: 20px;
  }
  .footer__social-networks .social-networks__logo img {
    width: 78px;
  }
  .footer__social-networks .social-networks__text {
    display: none;
  }
  .footer__contacts {
    position: relative;
    top: 0;
    left: 0;
  }
  .footer__contacts .contacts__our {
    display: none;
  }
  .footer__contacts .contacts__tel {
    position: relative;
    top: -91px;
    left: 146px;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
  }
  .footer__contacts .contacts__e-mail {
    position: relative;
    top: 5px;
    left: 18%;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
  }
  .footer__contacts .contacts__text {
    position: relative;
    top: -115px;
    left: -77px;
    max-width: 70px;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
  }
  .footer__suppot {
    display: none;
  }
}
@media (max-width: 1026px) {
  .popup-consultation__content {
    max-width: 957px;
    height: 580px;
  }
}
@media (max-width: 769px) {
  .popup__close {
    display: block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 3;
    top: -30px;
    left: 91%;
  }
  .popup__close::before,
.popup__close::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .popup__close::before {
    top: 2px;
    transform: rotate(45deg);
  }
  .popup__close::after {
    bottom: 15px;
    transform: rotate(-45deg);
  }
  .popup-consultation__content {
    max-width: 690px;
    height: 740px;
    border-radius: 10.7504px;
    margin-top: 100px;
    padding: 7px 20px 20px 20px;
  }
  .consultation-body-popup {
    flex-direction: column;
  }
  .discription-popup__subtitle p {
    margin-left: 71px;
  }
  .consultation-popup__user-information {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 45px 10px 0px 30px;
  }
  .consultation-popup__block-btn {
    left: 28%;
  }
  .consultation-background {
    border-radius: 10.7504px;
  }
}
@media (max-width: 426px) {
  .popup__close {
    display: block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 3;
    top: -30px;
    left: 91%;
  }
  .popup__close::before,
.popup__close::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .popup__close::before {
    top: 2px;
    transform: rotate(45deg);
  }
  .popup__close::after {
    bottom: 15px;
    transform: rotate(-45deg);
  }
  .popup-consultation__content {
    max-width: 300px;
    height: 578px;
    border-radius: 10.7504px;
    margin-top: 100px;
    padding: 7px 20px 20px 20px;
  }
  .consultation-body-popup {
    flex-direction: column;
  }
  .discription-popup__title h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }
  .discription-popup__subtitle p {
    margin-left: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  .consultation-popup__user-information {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 20px 0px 0px -10px;
  }
  .user-information-popup__item {
    font-size: 21px;
    border: 0.469091px solid rgba(0, 0, 0, 0.25);
    width: 250px;
    font-family: "Montserrat";
    font-weight: 300;
    padding: 0px 10px 7px 18px;
  }
  .user-information-popup__item::-moz-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information-popup__item:-ms-input-placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  .user-information-popup__item::placeholder {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
  .consultation-popup__block-btn {
    left: 0%;
  }
  .consultation-background {
    border-radius: 10.7504px;
  }
}
.footer {
  background: #562000;
  margin: 86px 0px 0px 0px;
  position: relatives;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 23px 15px 42px 15px;
}

.social-networks__logo img {
  max-width: 100%;
}

.social-networks__text {
  margin: 12px 0px 18px 0px;
}

.social-networks__text p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
}

.social-networks__link:not(:last-child) {
  padding: 0px 17px 0px 0px;
}

.footer__contacts {
  margin: 0px 78px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.contacts__tel {
  color: #FFFFFF;
}

.contacts__e-mail {
  color: #FFFFFF;
}

.contacts__text {
  max-width: 180px;
}

.footer__suppot {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.support__qr-code {
  padding: 0px 11px 0px 0px;
}

.support__text {
  max-width: 157px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 472px) {
  .footer {
    background: #562000;
    margin: 26px 0px 0px 0px;
    position: relatives;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    padding: 23px 15px 0px 15px;
  }
  .footer__social-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__social-networks .social-networks__logo {
    margin-bottom: 20px;
  }
  .footer__social-networks .social-networks__logo img {
    width: 78px;
  }
  .footer__social-networks .social-networks__text {
    display: none;
  }
  .footer__contacts {
    position: relative;
    top: 0;
    left: 0;
  }
  .footer__contacts .contacts__our {
    display: none;
  }
  .footer__contacts .contacts__tel {
    position: relative;
    top: -91px;
    left: 146px;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
  }
  .footer__contacts .contacts__e-mail {
    position: relative;
    top: 5px;
    left: 18%;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
  }
  .footer__contacts .contacts__text {
    position: relative;
    top: -115px;
    left: -77px;
    max-width: 70px;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
  }
  .footer__suppot {
    display: none;
  }
}
.wrapper {
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #fff;
}

@media (max-width: 472px) {
  .header {
    background: rgba(0, 0, 0, 0.5);
  }
}
.page {
  flex: 1 1 auto;
}

.page__main-block {
  margin-top: 175px;
}

.btn-style {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.one-apartment__container {
  display: flex;
}

.one-apartments__img {
  max-width: 720px;
}
.one-apartments__img img {
  max-width: 100%;
}

.one-apartments__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 34px;
}
.one-apartments__content .one-apartments__title h2 {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
}
.one-apartments__content .one-apartments__subtitle {
  max-width: 380px;
}
.one-apartments__content .one-apartments__subtitle p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
}
@media (max-width: 472px) {
  .one-apartments__content .one-apartments__title {
    text-align: center;
  }
  .one-apartments__content .one-apartments__title h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .one-apartments__content .one-apartments__subtitle {
    text-align: center;
  }
  .one-apartments__content .one-apartments__subtitle p {
    font-size: 13px;
    line-height: 17px;
  }
}
.one-apartments__content .one-apartments__subtitle p:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
@media (max-width: 472px) {
  .one-apartments__content .one-apartments__subtitle p:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.one-apartments__content .one-apartments__block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
  box-shadow: 2.24255px 2.24255px 2.24255px rgba(0, 0, 0, 0.25);
  border-radius: 17.3798px;
  transition: all 0.5s ease 0s;
  transform: scale(1, 1);
}
.one-apartments__content .one-apartments__block:active {
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 19.0452px;
  position: relative;
  top: 3px;
}
.one-apartments__content .one-apartments__block:hover {
  background: linear-gradient(90deg, #f0a980 0%, #f0dfb7 148.54%);
  transition: all 0.5s ease 0s;
  transform: scale(1.2, 1.2);
}
.one-apartments__content .one-apartments__block .one-apartments__btn {
  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  padding: 21px 45px;
}
@media (max-width: 472px) {
  .one-apartments__content .one-apartments__block {
    display: none;
  }
}

@media (max-width: 975px) {
  .one-apartments__subtitle {
    margin: 15px 0px;
  }
}
@media (max-width: 768px) {
  .one-apartment__container {
    flex-direction: column-reverse;
  }
  .one-apartments__img {
    margin-top: 20px;
  }
}
@media (max-width: 472px) {
  .page__main-block {
    margin-top: 125px;
  }
  .one-apartments__content {
    margin-left: 0px;
  }
  .one-apartments__img {
    display: none;
  }
}
.page__floors {
  margin-top: 30px;
}

@media (max-width: 472px) {
  .page__floors {
    margin-top: 0px;
  }
}
.floors__content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  border: 1px solid #8D3500;
  border-radius: 17px;
  padding: 22px 10px;
}

.floors__title {
  font-family: "Oswald";
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #000000;
  padding: 0 10px 0px 0px;
}

#floors__list {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.1em;
  color: #000000;
  background: linear-gradient(179.24deg, #EB9562 0.66%, #FFFFFF 155.42%);
  border-radius: 15px;
}
#floors__list option {
  background: linear-gradient(179.24deg, #EB9562 0.66%, #FFFFFF 155.42%);
}

@media (max-width: 768px) {
  .floors__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 472px) {
  .floors__title {
    font-size: 24px;
    line-height: 28px;
  }
  #floors__list {
    font-size: 18px;
    line-height: 21px;
  }
}
.page__apartment-plan {
  margin-top: 70px;
}

@media (max-width: 472px) {
  .page__apartment-plan {
    margin-top: 30px;
  }
}
.apartment-plan__container .apartment-plan__img {
  display: flex;
  justify-content: space-around;
}
.apartment-plan__container .apartment-plan__img .apartment-plan__img-one {
  max-width: 526px;
}
.apartment-plan__container .apartment-plan__img .apartment-plan__img-one img {
  max-width: 100%;
}
.apartment-plan__container .apartment-plan__img .apartment-plan__img-two {
  max-width: 526px;
}
.apartment-plan__container .apartment-plan__img .apartment-plan__img-two img {
  max-width: 100%;
}
.apartment-plan__container .apartment-plan__img img:nth-child(1) {
  margin-right: 75px;
}
.apartment-plan__container .apartment-plan__discription-plan {
  margin: 40px auto;
  max-width: 950px;
  border: 1px solid #8D3500;
  border-radius: 17px;
  display: flex;
  padding: 15px 35px;
  text-align: center;
}
.apartment-plan__container .apartment-plan__discription-plan p {
  font-size: 26px;
  line-height: 32px;
  font-family: "Montserrat";
  font-weight: 300;
  color: #000000;
}
.apartment-plan__container .apartment-plan__discription-plan .discription-plan__two {
  padding: 0 10px;
}
@media (max-width: 472px) {
  .apartment-plan__container .apartment-plan__discription-plan {
    margin: 0px 0px 30px 0px;
  }
}
.apartment-plan__container .apartment-plan__text {
  text-align: center;
}
.apartment-plan__container .apartment-plan__text p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}
@media (max-width: 472px) {
  .apartment-plan__container .apartment-plan__text p {
    font-size: 13px;
    line-height: 16px;
  }
}

.one-apartments__block-two {
  display: none;
}

@media (max-width: 920px) {
  .apartment-plan__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 674px) {
  .apartment-plan__discription-plan {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 472px) {
  .apartment-plan__img {
    padding: 0 10px;
  }
  .apartment-plan__img .apartment-plan__img-one {
    margin-bottom: 15px;
    max-width: 280px;
  }
  .apartment-plan__img .apartment-plan__img-one img {
    max-width: 100%;
  }
  .apartment-plan__img .apartment-plan__img-two {
    margin-bottom: 30px;
    max-width: 280px;
  }
  .apartment-plan__img .apartment-plan__img-two img {
    max-width: 100%;
  }
  .one-apartments__block-two {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    background: linear-gradient(90deg, #EB9562 0%, #E0CFA7 148.54%);
    box-shadow: 2.24255px 2.24255px 2.24255px rgba(0, 0, 0, 0.25);
    border-radius: 17.3798px;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transform: scale(1, 1);
  }
  .one-apartments__block-two:active {
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 19.0452px;
    position: relative;
    top: 3px;
  }
  .one-apartments__block-two:hover {
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transform: scale(1.1, 1.1);
    background: linear-gradient(90deg, #f0a980 0%, #f0dfb7 148.54%);
  }
  .one-apartments__btn-two {
    font-size: 12px;
    line-height: 15px;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    padding: 21px 45px;
  }
  .apartment-plan__discription-plan {
    margin: 0px 0 30px 0;
  }
  .apartment-plan__discription-plan .discription-plan__one p,
.apartment-plan__discription-plan .discription-plan__two p,
.apartment-plan__discription-plan .discription-plan__three p {
    margin: 5px 0px;
    font-size: 8px;
    line-height: 10px;
  }
}